// 全域css
:root {
  --global-selection-color: #ade0f2;
  --global-scrollbar-color: #66666666;
  --global-scrollbar-hover-color: #66666699;
  --global-default-primary-color: #ffffff;
  --global-default-secondary-color: #f0f2f5;
  --global-dark-primary-color: #141414;
  --global-dark-secondary-color: #2a3441;
}

::selection {
  background: var(--global-selection-color);
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--global-scrollbar-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--global-scrollbar-hover-color);
}

* {
  // font-family: 'Quicksand', 'Lato', Noto Sans TC, Noto Sans SC, 'Arial', 'Roboto', sans-serif;
  animation: SlowlyEntry 0.2s ease-in-out;
  @apply duration-[200ms];
}

body {
  @apply dark-mode-secondary-bg;
}

@keyframes SlowlyEntry {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
